@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ranchers&display=swap&family=Ribeye+Marrow&display=swap');


.profileTitle {
    text-align: center;
    font-family: 'Ranchers', cursive;
}

.content{
    display: flex;
    flex-direction: column-reverse;
}

.contentTitleResp{
    text-align: center;
    font-family: 'Ranchers', cursive;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.contentTitleEvents {
    margin: 7.5rem;
    text-align: center;
    font-family: 'Ranchers', cursive;
    margin-top: 2rem;
}

.responsibilitiesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.responsibilitiesContainer > div > ul > a > div {
    margin-right: 2.5rem;
    color: black;
    font-size: x-large;
    font-family: "Oswald", sans-serif;
}

.eventsWithName {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.createEventButtonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

 h4 {
    font-family: 'Ranchers', cursive;
}

.events{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2rem;
}

.event{
    /* border: 2px solid black;
    border-radius: 0.25rem;
    margin: 1rem;
    width: 367.25px; */
    background-color: whitesmoke;
}

.eventsListTitle {
    margin-top: 2rem;
}

.event > hr {
    border-top: 1.5px solid black;
}

.eventActions {
    display: flex;
    display: flex;
    justify-content: space-between;
}

.eventActionButtons {
    margin:1rem;
    font-family: 'Oswald', sans-serif;
    
}

.editTitleLabel {
    font-family: "Oswald", sans-serif;
}

.eventTitle{
    text-align: center;
    color: black;
    margin-top: 1rem;
    font-family: 'Ranchers', cursive;
    
}

.card {
    border: none !important;
    background-color: whitesmoke !important;
}

.createEventButton {
    align-self: center;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
    margin-left: 2rem;
}

.createEventInput {
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: "Ranchers", cursive;
}

.actualCreateEvent {
    display: flex;
    justify-content: flex-end;
}
.modal-title {
    font-family: "Ranchers", cursive;
}