@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ranchers&display=swap&family=Ribeye+Marrow&display=swap');


.profileTitle {
    text-align: center;
    font-family: 'Ranchers', cursive;
}
.content{
    display: flex;
    flex-direction: column-reverse;
}
.contentTitleResp{
    text-align: center;
    font-family: 'Ranchers', cursive;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}
.contentTitleEvents {
    margin: 7.5rem;
    text-align: center;
    font-family: 'Ranchers', cursive;
    margin-top: 2rem;
}
.responsibilitiesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.itemName {
    margin-right: 0.5rem;
    color: black;
    font-size: large;
    font-family: "Oswald", sans-serif;
}
.eventName {
    color: #007bff;
    font-family: "Oswald", sans-serif;
    align-self: center;
    font-size: small;
}
.ulContainer {
    display: flex;
}
.eventsWithName {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.createEventButtonDiv {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
 h4 {
    font-family: 'Ranchers', cursive;
}
.events{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2rem;
}
.event{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.eventsListTitle {
    margin-top: 2rem;
}
.event > hr {
    border-top: 1.5px solid black;
}
.eventActions {
    display: flex;
    justify-content: space-between;
}
.eventActionButtons {
    margin:1rem;
    font-family: 'Ranchers', cursive !important;
    
}
.editTitleLabel {
    font-family: "Oswald", sans-serif;
}
.eventTitle{
    text-align: center;
    color: black;
    margin-top: 1rem;
    font-family: 'Ranchers', cursive;  
}
.card {
    border: none !important;
    background-color: whitesmoke !important;
}
.createEventButton {
    align-self: center;
    font-family: 'Oswald', sans-serif;
}
p {
    font-family: 'Oswald', sans-serif;
    margin-left: 2rem;
}
.createEventInput {
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: "Ranchers", cursive;
}
.actualCreateEvent {
    display: flex;
    justify-content: flex-end;
}
.modal-title {
    font-family: "Ranchers", cursive;
}

.btn-outline-primary {
    color: #a9def9 !important;
    border-color: #a9def9 !important; 
}
.btn-outline-primary:focus{
    color:whitesmoke !important;
    border-color: #a9def9 !important;
    background-color: #a9def9 !important;
    box-shadow: 0 0 0 0.2rem rgb(169, 222, 249, 0.5 ) !important;
}
.btn-outline-info {
    color:  #ff99c8 !important;;
    border-color:  #ff99c8 !important;;
}
.btn-outline-info:focus {
    color:whitesmoke !important;
    background-color: #ff99c8 !important;
    border-color: #ff99c8 !important;
    box-shadow: 0 0 0 0.2rem rgb(255, 153, 200, 0.5 ) !important;
}
.deleteMessage {
    margin-left: 0;
}
.archivedEventsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.archivedEventsInnerDiv {
    display: flex;
}
.eventLink {
    display: flex !important;
}
.miscSubtitle {
    text-align: center;
    margin: 0.25rem 0 1rem 0;
}
.eventName {
    margin-right: 1rem;;
}
.miscContainer {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    display: flex;
    margin: 0 2rem 0.5rem 0;
}
.misc {
    display: flex;
    justify-content: left;
}
.miscUsername, .aUsername, .userFood {
    color: #007bff;
}
.activity {
    display: flex;
}
.emptyCard {
    font-family: "Oswald", sans-serif;
}
.itemNameMisc {
    margin-right: 0.5rem;
    color: black;
    font-size: large;
    font-family: "Oswald", sans-serif;
    text-align: left;
}
.eventNameMisc {
    color: #007bff;
    font-family: "Oswald", sans-serif;
    text-align: left;
    font-size: small;
}
